* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	overflow: hidden;

	font-size: 62.5%;

	background: url('/img/background-connect4.jpg');
	background-size: cover;
}

.GamePlayer {
	width: 100%;
	height: 100%;

	position: relative;
	overflow: hidden;
}

.GamePlayer-button {
	min-width: 6.0rem;

	background: transparent;
	border: none;
	color: darken(white, 10%);
	font-size: 1.6rem;
}

.GamePlayer-range {
	height: inherit;
}

.Button:hover {
	color: white;
}

.GamePlayer-button:not(:first-child) {
	margin-left: 1.0rem;
}

.GamePlayer-chrome {
	min-height: 4rem;
	width: 100%;

	position: absolute;
	bottom: 0;

	background: rgba(0,0,0,0.65);
}

.GamePlayer-view {

	width: 100%;
	height: 100%;

	// background: url('/img/background-blockbattle.jpg');
	// background-size: cover;
}

.GamePlayer-dropdown {
	max-height: 93vh;
	width: 100%;
	
	position: absolute;
 	bottom: 0;

	overflow-y: scroll;


	&.is-collapsed {

		.Dropdown-item:not(.is-selected) {
			height: 0;
		}
	}
}

.Dropdown {

}

.Dropdown-item {
	padding-top: 1.0rem;
	padding-bottom: 1.0rem;

	line-height: 2.0rem;

	overflow: hidden;

	transition: height 0.25s linear;
}

.Dropdown-item.is-selected,
.Dropdown.is-expanded .Dropdown-item {
	height: auto;
}

.Dropdown-select {

}

.Dropdown-label {

}

.u-row {
	display: flex;
	flex-direction: row;
}

.u-grow {
	display: flex;
	flex-grow: 1;
}

.u-hidden {
	display: none;
}